<div class="container">
  <h1 class="text-center mb-4">Carrinho de compras</h1>
  <div *ngIf="cartItems.length === 0 || loading" class="text-center mb-4">
    <h3>Empty</h3>
  </div>
  <div *ngIf="cartItems.length > 0 && !loading">
    <table class="table table-bordered table-hover mb-4">
      <thead>
        <tr>
          <th>Film</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Delete Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.name }}</td>
          <td>{{ item.price | currency }}</td>
          <td class="item-amount">{{ item.amount }} <mat-icon style="cursor: pointer;" (click)="addItem(item)">plus_one</mat-icon> </td>
          <td>{{ item.amount * item.price | currency }}</td>
          <td><mat-icon style="cursor: pointer;" (click)="deleteItem(item.id)">delete</mat-icon> </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-right">Total:</td>
          <td>{{ getTotal() | currency }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="text-right">
      <button type="button" class="btn btn-danger" (click)="clearCart()">Limpar carrinho</button>
      <button type="button" class="btn btn-primary ml-2" (click)="checkout()">Finalizar compra</button>
    </div>
  </div>
</div>
