<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="assets/logo.png" alt="image-logo" class="image-logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-global-itens" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active list-itens" aria-current="page">Home</a>
          <a class="nav-link list-itens">Shopping Cart</a>
        </div>
        <div>
          <img src="assets/account-25.png" alt="image-user" class="image-user">
          <button mat-raised-button class="login-button">Login</button>
          <!-- <span class="login-item">Please, login</span> -->
        </div>
    </div>
  </div>
</nav>
