$main-color: #9c27b0;
$secondary-color: #69f0ae;
$white-color: #ffffff;

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 5rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
