<div class="align-items">
  <form (ngSubmit)="createAccount()" [formGroup]="accountForm" class="form-container">
    <div class="items-container">
      <div class="form-group" >
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="accountForm.get('name').invalid && (accountForm.get('name').dirty || accountForm.get('name').touched)" required>
        <div *ngIf="accountForm.get('name').invalid && (accountForm.get('name').dirty || accountForm.get('name').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('name').errors['required']">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" formControlName="phone" [class.is-invalid]="accountForm.get('phone').invalid && (accountForm.get('phone').dirty || accountForm.get('phone').touched)" required>
        <div *ngIf="accountForm.get('phone').invalid && (accountForm.get('phone').dirty || accountForm.get('phone').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('phone').errors['required']">phone is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="address" class="form-control" id="address" formControlName="address" [class.is-invalid]="accountForm.get('address').invalid && (accountForm.get('address').dirty || accountForm.get('address').touched)" required>
        <div *ngIf="accountForm.get('address').invalid && (accountForm.get('address').dirty || accountForm.get('address').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('address').errors['required']">address is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="age" class="form-control" id="age" formControlName="age" [class.is-invalid]="accountForm.get('age').invalid && (accountForm.get('age').dirty || accountForm.get('age').touched)" required>
        <div *ngIf="accountForm.get('age').invalid && (accountForm.get('age').dirty || accountForm.get('age').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('age').errors['required']">age is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create Customer</button>
    </div>
  </form>
</div>
