<div class="align-items">
  <form (ngSubmit)="createAccount()" [formGroup]="accountForm" class="form-container">
    <div class="items-container">
      <div class="form-group" >
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="accountForm.get('name').invalid && (accountForm.get('name').dirty || accountForm.get('name').touched)" required>
        <div *ngIf="accountForm.get('name').invalid && (accountForm.get('name').dirty || accountForm.get('name').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('name').errors['required']">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">User</label>
        <input type="text" class="form-control" id="username" formControlName="username" [class.is-invalid]="accountForm.get('username').invalid && (accountForm.get('username').dirty || accountForm.get('username').touched)" required>
        <div *ngIf="accountForm.get('username').invalid && (accountForm.get('username').dirty || accountForm.get('username').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('username').errors['required']">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" [class.is-invalid]="accountForm.get('email').invalid && (accountForm.get('email').dirty || accountForm.get('email').touched)" required>
        <div *ngIf="accountForm.get('email').invalid && (accountForm.get('email').dirty || accountForm.get('email').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('email').errors['required']">Email is required</div>
          <div *ngIf="accountForm.get('email').errors['email']">Invalid email format</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" [class.is-invalid]="accountForm.get('password').invalid && (accountForm.get('password').dirty || accountForm.get('password').touched)" required>
        <div *ngIf="accountForm.get('password').invalid && (accountForm.get('password').dirty || accountForm.get('password').touched)" class="invalid-feedback">
          <div *ngIf="accountForm.get('password').errors['required']">Password is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
