@import '../../styles.scss';

.footer {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 2rem;
}

.icon-list {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.link-item {
  color: $white-color;
  text-decoration: none;
  font-size: large;
}
