<div class="Contato">
  <div class="meio-contato">
      <a class="link-item" (click)="openDialog()">About</a>
			<h3 class="link-item" (click)="openDialog()">PopcornMovies</h3>
			<div class="icon-list">
        <a href="https://www.instagram.com/" class="link-item" target="_blank">
        <fa-icon style="font-size: 25px;" [icon]="faInstagram" href="www.youtube.com"></fa-icon>
        </a>

        <a href="https://www.facebook.com/" target="_blank" class="link-item">
        <fa-icon style="font-size: 25px;" [icon]="faFacebook"></fa-icon>
        </a>

        <a href="https://www.twitter.com/" target="_blank" class="link-item">
        <fa-icon style="font-size: 25px;" [icon]="faTwitter"></fa-icon>
        </a>

        <a href="https://www.youtube.com/" target="_blank" class="link-item">
          <fa-icon [icon]="faYoutube" style="font-size: 25px;"></fa-icon>
        </a>
      </div>
		</div>

		<div class="meio-contato">
			<h3>Explore</h3>
			<span>Home</span>
			<span>Featured</span>
			<span>New</span>
			<span>Contact</span>
		</div>

		<div class="meio-contato">
			<h3>Shopping</h3>
			<span>Store</span>
			<span>Trending</span>
			<span>Ranking</span>
			<span>Free</span>
		</div>

	</div>

	<div class="last-text">
		<p>Copyright © 2023 All rights reserved</p>
	</div>

