<div class="footer">
  <a class="link-item" (click)="openDialog()">About PopcornMovies.com</a>
  <div class="icon-list">
    <a href="https://www.instagram.com/" class="link-item" target="_blank">
    <fa-icon style="font-size: 25px;" [icon]="faInstagram" href="www.youtube.com"></fa-icon>
    </a>

    <a href="https://www.facebook.com/" target="_blank" class="link-item">
    <fa-icon style="font-size: 25px;" [icon]="faFacebook"></fa-icon>
    </a>

    <a href="https://www.twitter.com/" target="_blank" class="link-item">
    <fa-icon style="font-size: 25px;" [icon]="faTwitter"></fa-icon>
    </a>

    <a href="https://www.youtube.com/" target="_blank" class="link-item">
      <fa-icon [icon]="faYoutube" style="font-size: 25px;"></fa-icon>
    </a>
  </div>
</div>
